
      body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      #exemple { background: white; max-width: auto; margin: 20px 16px; padding: 32px 24px; border-radius: 3px; flex:1 }
      #exemple h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #exemple h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #exemple p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #exemple a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
      #exemple, #exemple a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }

