.header-section{
      position: fixed;
      width: 74%;
      z-index: 999;
      padding: 0px 0px;
      margin-top: 1px;
}
.logo{
      color: #fff !important; 
}
.container {
      width: 70%;
      margin: auto;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
}
body {
      width:75%;
      position: absolute;
      text-align: center;
}
html {
      margin:12%;
      margin-top:0%;
      background-color: darkgray;
}
.menu ul li {
    font-size: 17px;
    padding: 0px 10px;
}
.menu ul li a {
    color: #fff !important;
}

.black{
      background: #111E6C;
      box-shadow: 0px 1px 7px 1px #111e6cc2;
}
.hero-section {
      width: 100%;
      height: 70vh;
      background-image: url("object.jpg");
      background-color: red;
      background-size: cover;
      position: relative;
}
.slogan {
      margin-top: -9%;
      color: white;
}
.display {
    display: table;
}
.hero-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
}
.content {
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
@media(max-width: 786px) {
      .header-section{
            background:darkgrey;
            box-shadow: 0px 1px 7px 1px darkgrey;
      }
      .menu ul li a {
          text-align: center;
      }
      .showing {
            max-height: 35em;
      }
      .menu-icon {
            display: block;
      }
      .custom-navbar button:focus {
            outline: none;
      }
      .custom-navbar .navbar-toggler-icon i {
            color: #fff;
            font-size: 24px;
      }
      .custom-navbar .navbar-toggler-icon {
            text-align: center;
            line-height: 30px;
      }

}

.loose {
      padding-left: 40%;
}
.doudou {
      margin-top: -290px;
      margin-left: 600px;
}
.text-find {
      margin-top: 50px;
      margin-left: 80px;
}
.text-loose {
      margin-top: -250px;
      margin-left: 820px;;
}

input[type=button], input[type=submit], input[type=reset], button, .find {
	padding: 70px 70px;
	margin: 3px 4px;
      margin-top: 50px;
      margin-inline-start: 10px;
	display: inline-block;
	color: #2CAF25;
	font-size: 40px;
	cursor: pointer;
	background: #FFFFFF;
	background: linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	border: 3px solid #000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.50);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, button:hover {
	background: linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, button:active{
	opacity:0.8;
}

input[type=button], input[type=submit], input[type=reset], button, .loose {
	padding: 70px 70px;
	margin: 3px 4px;
      margin-top: 70px;
      margin-left: 250px;
	display: inline-block;
	color: #D51717;
	font-size: 38px;
	cursor: pointer;
	background: #FFFFFF;
	background: linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
	border: 4px solid #000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.50);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover {
	background: linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, .button:active{
	opacity:0.8;
}
.footer {
      margin-top: 150px;
      position: absolute;
}
.ft-copyright {
		background-color: #000a1f;
		border-top: 1px solid #121d6d;
		display: flex;
	}

	.pb-2,
	.py-2 {
		padding-bottom: .5rem !important;
		padding-top: .5rem !important;
	}

	.footer-top {
		background-color: #012061;
		border-bottom: 1px solid rgba(25, 52, 132, .64);
            margin-top: 60px;
	}

	.text-center {
		text-align: center !important;
	}

	h4.ft-text-title {
		color: #fff;
		margin: 20px 0 10px;
		font-weight: 700;
		text-align: center;
	}

	h4 {
		display: block;
		-webkit-margin-before: 1.33em;
		-webkit-margin-after: 1.33em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
		font-size: 1.3em;
	}

	h6.ft-desp {
		color: #FFF;
		padding: 2px;
	}

	h6 {
		font-size: 15px;
	}
	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1.heading-title a{
		color: #012061 !important;
		text-decoration: none;
	}
	h1 {
		font-size: 22px;
		font-weight: 800;
		line-height: 1.4;
		color: #000;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 10px;
	}
	a.contact,
	a.mail {
		border: 1px solid yellow;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		color: #fff;
		padding: 5px;
		font-size: 15px;
		text-decoration: none;
	}

	a.contact:hover,
	a.mail:hover {
		background: #900;
	}

	i.fa-phone,
	i.fa-envelope-o {
		padding: 3px;
	}

	i.fa-envelope-o {
		padding: 4px;
	}

	.border-left {
		border-left: dotted #ddd 1px;
	}

	.pspt-dtls {
		margin-top: 20px !important;
	}

	.pspt-dtls a {
		margin: 8px !important;
	}

	a.about,
	a.team,
	a.advertise {
		padding: 8px;
		border: 1px yellow solid;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 5px;
		color: #FFF;
		text-decoration: none;
		font-size: 15px;
	}

	a.about:hover,
	a.team:hover,
	a.advertise:hover {
		background: #900;
	}

	footer p {
		color: #fff;
		margin-bottom: 10px;
	}

	.text-pp-crt,
	.text-pp-crt-rg {
		color: #FFFFFF;
	}

	.developer {
		text-align: center;
	}
    p.member{
        color:#FFF;
    }
	i.develop {
		border: 1px red dotted;
	}

	.developer b {
		color: red;
	}