.image-cat{
    color: #191b26;
    font-family: 'Open Sans,sans-serif';
    float: left;
    position: relative;
    margin: 5px;
    box-sizing: content-box;
    overflow: hidden;
    background: #f3f3f3;
    display: block;
    max-width :300px;
    height: auto;
    
    }