#map-canvas {
    width:450px;
    height:600px;
}

#infos {
    position:absolute;
    top:60px;
    left:470px;
    width:300px;
}

#infos .info {
    background-color:#eee;
    padding:15px 25px;
    margin:10px 0;
}
