
.body { 
      background: white; 
      font-family: 'Roboto, Helvetica, Arial, sans-serif'; 
}

.wizard { 
      background: white; 
      max-width: 100%; 
      margin-top: 10px 
}

    
    .thumbnail .description {
      position: absolute; /* Position the background text */
      top: 0; /* At the bottom. Use top:0 to append it to the top */
      margin-left:10px;
      margin-top:10px;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      width: fit-content; /* Full width */
      padding: 5px; /* Some padding */
      font-size: 1vw;
    }

.image-cat{
color: #191b26;
font-family: 'Open Sans,sans-serif';
float: left;
position: relative;
margin: 5px;
box-sizing: content-box;
overflow: hidden;
background: #f3f3f3;
display: block;
max-width :300px;
height: auto;

}